/*
 * GeekHub is coming.
 * Want to join the team? Ping
 */
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

html {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption, th, td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}

q, blockquote {
    quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none;
}

a img {
    border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
    color: #404040;
    font-family: Open Sans;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    clear: both;
}

h1 {
    font-size: 62px;
    line-height: 80px;
    font-weight: 700;
    color: #fff;
}

h2 {
    color: #121212;
    font-size: 44px;
    font-weight: 700;
    line-height: 60px;
}

h3 {
    color: #343339;
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
}

p {
    margin-bottom: 22px;
    font-size: 17px;
    font-weight: 400;
    line-height: 25px;
}

dfn, cite, em, i {
    font-style: italic;
}

blockquote {
    margin: 0 1.5em;
}

address {
    margin: 0 0 1.5em;
}

pre {
    background: #eee;
    font-family: "Courier 10 Pitch", Courier, monospace;
    font-size: 15px;
    font-size: 0.9375rem;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1.6em;
}

code, kbd, tt, var {
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
    font-size: 15px;
    font-size: 0.9375rem;
}

abbr, acronym {
    border-bottom: 1px dotted #666;
    cursor: help;
}

mark, ins {
    background: #fff9c0;
    text-decoration: none;
}

big {
    font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
    box-sizing: inherit;
}

body {
    background: #fff;
    /* Fallback for when there is no custom background color defined. */
}

blockquote, q {
    quotes: "" "";
}

blockquote:before, blockquote:after, q:before, q:after {
    content: "";
}

hr {
    background-color: #ccc;
    border: 0;
    height: 1px;
    margin-bottom: 1.5em;
}

ul, ol {
    margin: 0 0 1.5em 3em;
}

ul {
    list-style: none;
}

ol {
    list-style: decimal;
}

li > ul,
li > ol {
    margin-bottom: 0;
    margin-left: 1.5em;
}

dt {
    font-weight: bold;
}

dd {
    margin: 0 1.5em 1.5em;
}

img {
    height: auto;
    /* Make sure images are scaled correctly. */
    max-width: 100%;
    /* Adhere to container width. */
}

table {
    margin: 0 0 1.5em;
    width: 100%;
}

/*--------------------------------------------------------------
# Susy
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    border: 2px solid;
    transition: all 0.5s ease;
    border-color: #fff;
    background: transparent;
    color: rgba(0, 0, 0, 0.8);
    font-size: 12px;
    font-size: 0.75rem;
    line-height: 1;
    padding: .6em 1em .4em;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
    background-color: #f16868;
}

button:active, button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
    border-color: #aaa #bbb #bbb;
}

button {
    width: 176px;
    height: 49px;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
    color: #666;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 3px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
    color: #111;
}

select {
    border: 1px solid #ccc;
}

textarea {
    width: 100%;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
    color: #1743a8;
    text-decoration: none;
}

a:visited {
    color: purple;
}

a:hover, a:focus, a:active {
    color: #343339;
    opacity: 1;
}

a:focus {
    outline: thin dotted;
}

a:hover, a:active {
    outline: 0;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {
    clear: both;
    display: block;
    float: left;
    width: 100%;
}

.main-navigation ul {
    display: none;
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.main-navigation ul ul {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    float: left;
    position: absolute;
    top: 1.5em;
    left: -999em;
    z-index: 99999;
}

.main-navigation ul ul ul {
    left: -999em;
    top: 0;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
    left: 100%;
}

.main-navigation ul ul a {
    width: 200px;
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
    left: auto;
}

.main-navigation li {
    float: left;
    position: relative;
}

.main-navigation a {
    display: block;
    text-decoration: none;
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
    display: block;
}

@media screen and (min-width: 37.5em) {
    .menu-toggle {
        display: none;
    }
    .main-navigation ul {
        display: block;
    }
}

.site-main .comment-navigation, .site-main
.posts-navigation, .site-main
.post-navigation {
    margin: 0 0 1.5em;
    overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
    float: left;
    width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
    float: right;
    text-align: right;
    width: 50%;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #4e4e4e;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
    outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
    display: inline;
    float: left;
    margin-right: 1.5em;
}

.alignright {
    display: inline;
    float: right;
    margin-left: 1.5em;
}

.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
    content: "";
    display: table;
    table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
    clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
    margin: 0 0 1.5em;
    /* Make sure select elements fit in widgets. */
}

.widget select {
    max-width: 100%;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
.site-header {
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    /* -------------------------- NAVIGATION --------------- */
    /* ------------------ HERO --------------- */
}
@media screen and (min-width: 768px) {
    .site-header {
        background-size: cover;
    }
}
.site-header .header-overlay {
    background-color: rgba(38, 64, 117, 0.77);
}
.site-header .site-logo {
    margin-top: 110px;
    text-align: center;
}
.site-header .site-logo img {
    max-width: 160px;
}
@media screen and (min-width: 768px) {
    .site-header .gh-main-navigation {
        float: right;
        margin-left: 0;
        margin-top: 32px;
    }
}
@media screen and (min-width: 902px) {
    .site-header .gh-main-navigation {
        float: left;
        margin-left: 196px;
    }
}
.site-header .menu-main-navigation-container {
    display: none;
}
@media screen and (min-width: 768px) {
    .site-header .menu-main-navigation-container {
        display: block;
    }
}
@media screen and (max-width: 767px) {
    .site-header #site-navigation {
        clear: both;
    }
    .site-header .menu {
        margin-top: 20px;
    }
    .site-header .menu li {
        margin-bottom: 30px;
    }
}
.site-header .fa-bars {
    position: absolute;
    top: 0;
    right: 15px;
    margin-top: 26px;
    font-size: 30px;
    color: #fff;
    opacity: 0.6;
    cursor: pointer;
}
.site-header .fa-bars:hover {
    opacity: 1;
}
@media screen and (min-width: 768px) {
    .site-header .fa-bars {
        display: none;
    }
}
.site-header .menu-focus {
    opacity: 1;
}
@media screen and (min-width: 768px) {
    .site-header .menu li {
        display: inline-block;
        margin-right: 50px;
    }
}
.site-header .menu li:last-child {
    margin-right: 0;
}
.site-header .menu li a {
    opacity: 0.6;
    color: white;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 700;
    line-height: 19px;
    text-transform: uppercase;
}
.site-header .menu li a:hover {
    opacity: 1;
}
.site-header .hero {
    margin: 50px 0;
}
@media screen and (min-width: 460px) {
    .site-header .hero {
        margin: 40px 0 150px;
    }
}
@media screen and (min-width: 768px) {
    .site-header .hero {
        margin: 50px 0 150px;
        text-align: left;
    }
}
.site-header .hero .site-title,
.site-header .hero .site-sub-title {
    color: white;
    font-family: "Open Sans";
    font-size: 40px;
    line-height: 41px;
    text-align: center;
}
@media screen and (min-width: 768px) {
    .site-header .hero .site-title,
    .site-header .hero .site-sub-title {
        font-size: 62px;
        line-height: 80px;
    }
}
.site-header .hero .site-title {
    font-weight: 700;
}
.site-header .hero .site-sub-title {
    margin-bottom: 58px;
    font-weight: 400;
    margin-top: 20px;
}
@media screen and (min-width: 768px) {
    .site-header .hero .site-sub-title {
        margin-top: 0;
    }
}
.site-header .hero .registration-button,
.site-header .hero .about-button {
    display: inline-block;
    color: white;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 700;
    line-height: 19px;
    text-transform: uppercase;
}
.site-header .hero .registration-button {
    background-color: #f16868;
    border: 2px solid transparent;
    padding: 13px 18px;
    margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
    .site-header .hero .registration-button {
        margin-right: 39px;
    }
}
.site-header .hero .registration-button:hover {
    border: 2px solid #fff;
    background: transparent;
}
.site-header .hero .about-button {
    padding: 13px 34px;
    border: 2px solid white;
}
.site-header .hero .about-button:hover {
    background-color: #f16868;
    border: 2px solid #f16868;
}

/* ---------------------------------- PAGE HEADER ----------------- */
.site-page-hero {
    padding-top: 90px;
    clear: both;
}

.site-title-page {
    margin: 0 0 20px;
    color: white;
    font-family: "Open Sans";
    font-size: 44px;
    font-weight: 700;
    line-height: 25px;
    text-transform: uppercase;
}

.clearfix:before {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

.site-sub-title-page {
    margin: 25px auto 75px;
    max-width: 750px;
    text-align: center;
}
.site-sub-title-page p {
    color: #fff;
    font-family: "Lato", "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: 500;
    line-height: 25px;
}

.site-footer {
    padding: 54px 30px;
    background: #1c1b1c;
}

@media (min-width: 960px) {
    .site-footer {
        padding: 54px 150px;
    }
}

.site-footer p {
    margin: 5px 0;
    color: #fff;
}

@media (min-width: 768px) {
    .site-footer p {
        margin: 0;
    }
}

.site-footer ul {
    margin: 5px 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

@media (min-width: 768px) {
    .site-footer ul {
        margin: 0;
    }
}

.site-footer ul li {
    display: inline-block;
}

.site-footer ul li:not(:last-child) {
    margin-right: 35px;
}

.site-footer ul a {
    font-size: 15px;
    color: #fff;
}

.site-info {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    text-align: center;
}

@media (min-width: 768px) {
    .site-info {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        text-align: inherit;
    }
}

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
    display: block;
}

.hentry {
    margin: 0 0 1.5em;
}

.byline,
.updated:not(.published) {
    display: none;
}

.single .byline,
.group-blog .byline {
    display: inline;
}

.page-content,
.entry-content,
.entry-summary {
    margin: 1.5em 0 0;
}

.page-links {
    clear: both;
    margin: 0 0 1.5em;
}

/* -------------------- main style ----------------- */
.container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
    overflow: hidden;
    text-align: center;
}
.container:after {
    content: " ";
    display: block;
    clear: both;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

ul {
    margin: 0;
}

:focus,
:visited,
:hover,
a {
    outline: none !important;
}

/* --------------------------------- section title ----------------- */
.section-title {
    position: relative;
    margin-top: 40px;
    color: #121212;
    font-family: "Open Sans";
    font-size: 34px;
    font-weight: 700;
    line-height: 38px;
}
.section-title:after {
    content: '';
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translate(-50%);
    width: 100px;
    height: 3px;
    background-color: #f25683;
}
@media screen and (min-width: 768px) {
    .section-title {
        width: 32.20339%;
        float: left;
        margin-right: 1.69492%;
        max-width: 360px;
        margin-top: 70px;
        font-size: 44px;
        text-align: left;
        line-height: 60px;
    }
    .section-title:after {
        left: 0;
        transform: none;
    }
}

/* --------------------------------- section about ------------- */
.about-geekhub p {
    float: right;
    max-width: 750px;
    margin: 70px 0;
    color: #4e4e4e;
    font-family: "Open Sans";
    font-size: 17px;
    font-weight: 400;
    line-height: 25px;
}
@media screen and (min-width: 768px) {
    .about-geekhub p {
        width: 66.10169%;
        float: right;
        margin-right: 0;
        text-align: left;
    }
}

/* --------------------------------- statistic geekhub ------------ */
.statistic-geekhub {
    background-size: cover;
}
.statistic-geekhub .background-overlay {
    background: rgba(241, 241, 241, 0.91);
}
@media screen and (min-width: 768px) {
    .statistic-geekhub .section-title {
        width: 32.20339%;
        float: left;
        margin-right: 1.69492%;
    }
}
.statistic-geekhub .statistic-features {
    overflow: hidden;
    margin: 70px 0;
}
@media screen and (min-width: 600px) and (max-width: 767px) {
    .statistic-geekhub .statistic-features {
        max-width: 400px;
        margin-right: auto;
        margin-left: auto;
    }
}
.statistic-geekhub .statistic-features li {
    margin-bottom: 30px;
}
@media screen and (min-width: 600px) {
    .statistic-geekhub .statistic-features li {
        text-align: left;
    }
    .statistic-geekhub .statistic-features li:nth-child(even) {
        width: 40.67797%;
        float: left;
        margin-right: 1.69492%;
        margin-right: 0;
    }
    .statistic-geekhub .statistic-features li:nth-child(odd) {
        width: 57.62712%;
        float: left;
        margin-right: 1.69492%;
    }
}
@media screen and (min-width: 768px) and (max-width: 901px) {
    .statistic-geekhub .statistic-features li:nth-child(even) {
        width: 23.72881%;
        float: left;
        margin-right: 1.69492%;
    }
    .statistic-geekhub .statistic-features li:nth-child(odd) {
        width: 32.20339%;
        float: left;
        margin-right: 1.69492%;
        margin: 0 50px 0 40px;
    }
}
@media screen and (min-width: 902px) {
    .statistic-geekhub .statistic-features li {
        min-width: 250px;
    }
    .statistic-geekhub .statistic-features li:nth-child(odd) {
        width: 40.67797%;
        float: left;
        margin-right: 1.69492%;
        margin-right: 30px;
    }
}
.statistic-geekhub .statistic-features li h4 {
    color: #1743a8;
    font-family: "Open Sans";
    font-size: 56px;
    font-weight: 700;
    line-height: 76px;
}
.statistic-geekhub .statistic-features li p {
    color: #343339;
    font-family: Lato;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
}
@media screen and (min-width: 768px) {
    .statistic-geekhub .statistic-features {
        width: 66.10169%;
        float: right;
        margin-right: 0;
    }
}

/* ---------------------------------- courses ------------------- */
.courses .section-title {
    float: none;
    margin-bottom: 53px;
    width: 100%;
}
@media screen and (min-width: 768px) {
    .courses .section-title {
        text-align: left;
    }
}
.courses .geekhub-courses li {
    position: relative;
    display: inline-block;
    min-width: 290px;
    min-height: 380px;
    padding: 30px 30px 40px;
    margin: 0 0 27px 0;
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
    text-align: left;
    vertical-align: top;
}
.courses .geekhub-courses li h4 {
    margin-top: 14px;
    color: #343339;
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
}
.courses .geekhub-courses li a {
    position: absolute;
    bottom: 30px;
}
@media screen and (min-width: 768px) {
    .courses .geekhub-courses li {
        width: 360px;
        height: 380px;
    }
}
@media screen and (min-width: 768px) and (max-width: 901px) {
    .courses .geekhub-courses li {
        margin-right: 13px;
    }
    .courses .geekhub-courses li:nth-child(even) {
        margin-right: 0;
    }
}
@media screen and (min-width: 902px) {
    .courses .geekhub-courses li {
        margin-right: 24px;
    }
}
@media screen and (min-width: 1200px) {
    .courses .geekhub-courses li:nth-child(3n) {
        margin-right: 0;
    }
}

/* --------------------------------- pre-footer ---------------- */
.pre-footer {
    overflow: hidden;
    background-color: #f2f2f2;
}
.pre-footer .tabs {
    margin: 55px auto;
    background: #fff;
}
.pre-footer .tabs li {
    padding: 35px 0;
}
.pre-footer .tabs li:last-child {
    margin-right: 0;
}
@media screen and (min-width: 600px) {
    .pre-footer .tabs li {
        display: inline-block;
        margin-right: 40px;
    }
}
@media screen and (min-width: 768px) {
    .pre-footer .tabs li {
        margin-right: 90px;
    }
}
@media screen and (min-width: 1200px) {
    .pre-footer .tabs li {
        margin-right: 230px;
    }
}

/* --------------------- Form Registration ------------------- */
div#gform_wrapper_1 {
    max-width: 410px;
    margin: 100px auto;
    width: 290px;
    /* --------------- Textarea ------------- */
    /* --------------- Submit --------------- */
    /* --------------- Placeholder ------------- */
    /* --------------- Focus ------------- */
    /* --------------- Checkbox ------------- */
    /* --------------- Repeater - choose course ------------- */
}
@media screen and (min-width: 460px) {
    div#gform_wrapper_1 {
        width: 410px;
    }
}
div#gform_wrapper_1 input[type="text"] {
    border: none;
    border-radius: 0;
    width: 290px;
    height: 50px;
    margin-top: 37px;
    border-bottom: 2px solid #d3d2e2;
    color: #121212;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    transition: all 0.3s;
}
@media screen and (min-width: 460px) {
    div#gform_wrapper_1 input[type="text"] {
        width: 400px;
    }
}
div#gform_wrapper_1 li.gchoice_1_4_1 {
    margin-top: 50px;
}
div#gform_wrapper_1 textarea {
    border-radius: 0;
    height: 50px;
    margin-top: 50px;
    border: none;
    border-bottom: 2px solid #d3d2e2;
    resize: none;
    color: #121212;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    transition: all 0.3s;
}
div#gform_wrapper_1 input[type="submit"] {
    border: none;
    box-shadow: none;
    text-shadow: none;
    margin-top: 60px;
    padding: 19px 60px 22px;
    background-color: #f25683;
    border: 3px solid transparent;
    border-radius: 3px;
    color: white;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 700;
    line-height: 19px;
    cursor: pointer;
}
div#gform_wrapper_1 input[type="submit"]:hover {
    background: #fff;
    border: 3px solid #f25683;
    color: #f25683;
}
@media screen and (min-width: 460px) {
    div#gform_wrapper_1 input[type="submit"] {
        padding: 19px 132px 22px;
    }
}
div#gform_wrapper_1 ::-webkit-input-placeholder {
    color: #7a889c;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
}
div#gform_wrapper_1 ::-moz-placeholder {
    color: #7a889c;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
}
div#gform_wrapper_1 textarea:focus {
    outline: none;
    border-bottom: 2px solid #f25683;
}
div#gform_wrapper_1 input[type="text"]:focus {
    outline: none;
    border-bottom: 2px solid #f25683;
}
div#gform_wrapper_1 input[type="checkbox"] {
    display: none;
}
div#gform_wrapper_1 input[type="checkbox"] + label {
    display: inline-block;
    position: relative;
    padding-left: 50px;
    color: #121212;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    cursor: pointer;
    text-align: left;
}
div#gform_wrapper_1 input[type="checkbox"] + label:before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    top: 5px;
    margin-bottom: 30px;
    margin-right: 26px;
    width: 24px;
    height: 24px;
    background: none;
    border: 2px solid #d3d2e2;
    border-radius: 4px;
}
div#gform_wrapper_1 input[type=checkbox]:checked + label:before {
    content: "\f00c";
    padding: 2px 0;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 15px;
    color: #f25683;
    text-align: center;
    line-height: 15px;
}
div#gform_wrapper_1 h2.gf_repeater_title {
    margin: 45px 0 20px;
    color: #7a889c;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
}
div#gform_wrapper_1 .ginput_container_select {
    text-align: left;
}
div#gform_wrapper_1 select {
    cursor: pointer;
    position: relative;
    width: 290px;
    margin-top: 47px;
    border: none;
    border-bottom: 2px solid #d3d2e2;
    border-radius: 0;
    height: 40px;
    margin-bottom: 10px;
    background: none;
    color: #7a889c;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
div#gform_wrapper_1 select:focus {
    border-bottom: 1px solid #ccc;
}
@media screen and (min-width: 460px) {
    div#gform_wrapper_1 select {
        width: 400px;
    }
}
div#gform_wrapper_1 .ginput_container.ginput_container_select {
    position: relative;
}
div#gform_wrapper_1 .ginput_container.ginput_container_select:after {
    content: '\f0d7';
    font: normal normal normal 14px/1 FontAwesome;
    position: absolute;
    bottom: 21px;
    right: 14px;
    color: #7a889c;
    font-size: 16px;
    z-index: -1;
}
div#gform_wrapper_1 .gf_repeater_add .fa-plus,
div#gform_wrapper_1 .gf_repeater_add .fa-times,
div#gform_wrapper_1 .gf_repeater_remove .fa-plus,
div#gform_wrapper_1 .gf_repeater_remove .fa-times {
    width: 19px;
    height: 19px;
    border: 2px solid #4f4ac9;
    border-radius: 50%;
    text-align: center;
    line-height: 16px;
}
div#gform_wrapper_1 .fa-plus {
    margin-right: 21px;
}
div#gform_wrapper_1 .gf_repeater_add {
    margin-top: 20px;
    display: inline-block;
    color: #4f4ac9;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 600;
    line-height: 25px;
    text-transform: uppercase;
}
div#gform_wrapper_1 .fa-times {
    margin-right: 21px;
    font-size: 12px;
    color: #4f4ac9;
}
@media screen and (min-width: 660px) {
    div#gform_wrapper_1 .gf_repeater_remove {
        position: absolute;
        top: -204px;
        right: -114px;
    }
    div#gform_wrapper_1 .gf_repeater_remove .fa-times {
        position: absolute;
        bottom: -38px;
        right: 72px;
        margin-right: 0;
        font-size: 12px;
        color: #4f4ac9;
    }
}
div#gform_wrapper_1 .popup {
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 600;
    line-height: 48px;
    text-align: center;
    color: #4f4ac9;
}
@media screen and (min-width: 660px) {
    div#gform_wrapper_1 .popup {
        position: relative;
        display: inline-block;
        width: 162px;
        height: 47px;
        background-color: #7a889c;
        border-radius: 3px;
        color: white;
        opacity: 0;
    }
    div#gform_wrapper_1 .popup:after {
        border: 8px solid transparent;
        border-top: 8px solid #7a889c;
        content: '';
        position: absolute;
        position: absolute;
        bottom: -16px;
        right: 73px;
    }
}
div#gform_wrapper_1 .pp-overlay {
    position: relative;
}
div#gform_wrapper_1 .pp-overlay:hover .popup {
    opacity: 1;
}
div#gform_wrapper_1 .gfield {
    position: relative;
    text-align: left;
}
div#gform_wrapper_1 label.gfield_label {
    position: absolute;
    top: 15px;
    opacity: 0;
    transition: all 0.4s;
    color: #7a889c;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 400;
    line-height: 17px;
    text-transform: uppercase;
    text-align: left;
}

/* --------------------- Thank you page ------------ */
div#gform_confirmation_message_1 {
    margin: 160px auto 200px;
    max-width: 700px;
    color: #4e4e4e;
    font-family: "Open Sans";
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
    word-wrap: break-word;
}

.bypostauthor {
    display: block;
}

/*--------------------------------------------------------------
## Courses
--------------------------------------------------------------*/
.container-course {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 80px 10px;
    min-height: 1800px;
}
.container-course:after {
    content: " ";
    display: block;
    clear: both;
}

@media screen and (min-width: 830px) {
    .container-course {
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media screen and (min-width: 768px) {
    .critique-container {
        display: block;
        width: 32.20339%;
        float: left;
        margin-right: 1.69492%;
    }
}
@media screen and (min-width: 768px) and (min-width: 768px) {
    .critique-container {
        display: block;
        width: 32.20339%;
        float: left;
        margin-right: 1.69492%;
    }

    .tab-right {
        width: 66.10169%;
        float: right;
        margin-right: 0;
    }
}
@media screen and (min-width: 768px) {
    .critique-container .courses-block h4 {
        text-transform: uppercase;
        color: #121212;
        font-family: "Open Sans";
        font-size: 14px;
        font-weight: 700;
        line-height: 25px;
        opacity: 0.34;
        margin-bottom: 60px;
    }
}
@media screen and (min-width: 768px) and (max-width: 768px) {
    .critique-container .courses-block h4 {
        text-align: center;
    }
}
@media screen and (min-width: 768px) {
    .critique-container .courses-block ul li {
        list-style: none !important;
        border-bottom: 1px solid #dedede !important;
        width: 250px;
        padding-bottom: 6%;
    }
}
@media screen and (min-width: 768px) and (max-width: 768px) {
    .critique-container .courses-block ul li {
        width: 100%;
        text-align: center;
        padding-bottom: 2%;
    }
}
@media screen and (min-width: 768px) {
    .critique-container .courses-block ul li a {
        font-size: 16px;
        font-weight: 700;
        line-height: 22px;
        color: #121212;
        outline: none;
    }
    .critique-container .courses-block ul li a:hover {
        color: #121212 !important;
        padding-bottom: 9%;
        border-bottom: 3px solid #2d2d2f !important;
    }
}
@media screen and (min-width: 768px) and (max-width: 990px) {
    .critique-container .courses-block ul li a:hover {
        padding-bottom: 8%;
    }
}
@media screen and (min-width: 768px) and (max-width: 920px) {
    .critique-container .courses-block ul li a:hover {
        padding-bottom: 7%;
    }
}
@media screen and (min-width: 768px) and (max-width: 770px) {
    .critique-container .courses-block ul li a:hover {
        padding-bottom: 6%;
    }
}
@media screen and (min-width: 768px) and (max-width: 768px) {
    .critique-container .courses-block ul li a:hover {
        padding-bottom: 2%;
    }
}
@media screen and (min-width: 768px) {
    .critique-container .courses-block .active {
        opacity: 1;
        outline: none;
    }
    .critique-container .courses-block .active a {
        color: #121212;
        padding-bottom: 9%;
        outline: none;
        border-bottom: 3px solid #2d2d2f !important;
    }
}
@media screen and (min-width: 768px) and (max-width: 990px) {
    .critique-container .courses-block .active a {
        padding-bottom: 8%;
    }
}
@media screen and (min-width: 768px) and (max-width: 920px) {
    .critique-container .courses-block .active a {
        padding-bottom: 7%;
    }
}
@media screen and (min-width: 768px) and (max-width: 770px) {
    .critique-container .courses-block .active a {
        padding-bottom: 6%;
    }
}
@media screen and (min-width: 768px) and (max-width: 768px) {
    .critique-container .courses-block .active a {
        padding-bottom: 2%;
    }
}

@media screen and (min-width: 768px) {
    .tab-right {
        padding-left: 50px;
    }
}
@media screen and (min-width: 768px) and (max-width: 768px) {
    .tab-right {
        padding-left: 0;
    }
    .tab-right .tab-courses, .tab-right .team-content {
        text-align: center;
    }
    .tab-right .questions {
        width: 320px;
        margin-left: 28%;
    }
}
@media screen and (min-width: 768px) and (max-width: 768px) and (max-width: 700px) {
    .tab-right .questions {
        margin-left: 26%;
    }
}
@media screen and (min-width: 768px) and (max-width: 768px) and (max-width: 650px) {
    .tab-right .questions {
        margin-left: 24%;
    }
}
@media screen and (min-width: 768px) and (max-width: 768px) and (max-width: 600px) {
    .tab-right .questions {
        margin-left: 22%;
    }
}
@media screen and (min-width: 768px) and (max-width: 768px) and (max-width: 550px) {
    .tab-right .questions {
        margin-left: 20%;
    }
}
@media screen and (min-width: 768px) and (max-width: 768px) and (max-width: 520px) {
    .tab-right .questions {
        margin-left: 17%;
    }
}
@media screen and (min-width: 768px) and (max-width: 768px) and (max-width: 490px) {
    .tab-right .questions {
        margin-left: 14%;
    }
}
@media screen and (min-width: 768px) and (max-width: 768px) and (max-width: 460px) {
    .tab-right .questions {
        margin-left: 10%;
    }
}
@media screen and (min-width: 768px) and (max-width: 768px) and (max-width: 400px) {
    .tab-right .questions {
        margin-left: 8%;
    }
}
@media screen and (min-width: 768px) and (max-width: 768px) and (max-width: 360px) {
    .tab-right .questions {
        margin-left: 4%;
    }
}
@media screen and (min-width: 768px) and (max-width: 768px) and (max-width: 321px) {
    .tab-right .questions {
        margin-left: 1%;
        width: 300px;
        padding: 0 10px;
    }
}

@media screen and (min-width: 768px) {
    .tab-right h4 {
        text-transform: uppercase;
        color: #343339;
        font-family: "Open Sans";
        font-size: 14px;
        font-weight: 700;
        line-height: 25px;
        margin-top: 100px;
    }
}
@media screen and (min-width: 768px) and (max-width: 768px) {
    .tab-right h4 {
        text-align: center;
    }
}
@media screen and (min-width: 768px) {
    .tab-right ol {
        padding-left: 10px;
        padding-top: 40px;
    }
}
@media screen and (min-width: 768px) and (max-width: 768px) {
    .tab-right ol {
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-align-items: center;
        align-items: center;
        padding-left: 0;
        margin-left: 0;
    }
}
@media screen and (min-width: 768px) {
    .tab-right ol li {
        font-family: Lato;
        font-size: 17px;
        font-weight: 500;
        line-height: 25px;
        color: #f25683;
    }
    .tab-right ol li span {
        color: #4e4e4e;
    }
    .tab-right .tab-courses {
        border-radius: 2px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
        padding: 30px 40px;
    }
    .tab-right .tab-courses .course-registration {
        color: #1743a8;
        font-size: 14px;
        font-weight: 700;
        line-height: 19px;
        background: transparent;
        border: 2px solid #1743a8;
    }
    .tab-right .tab-courses .course-registration:hover {
        background-color: #1743a8;
    }
}
@media screen and (min-width: 768px) and (max-width: 768px) {
    .tab-right .team-members {
        text-align: center;
    }
}
@media screen and (min-width: 768px) {
    .tab-right .team-members .course-registration-second {
        color: #1743a8;
        font-size: 14px;
        font-weight: 700;
        line-height: 19px;
        background: transparent;
        border: 2px solid #1743a8;
    }
    .tab-right .team-members .course-registration-second:hover {
        background-color: #1743a8;
    }
    .tab-right .team-members ul {
        padding-left: 10px;
        padding-top: 40px;
        margin: 0 0 1.5em 3em;
    }
}
@media screen and (min-width: 768px) and (max-width: 768px) {
    .tab-right .team-members ul {
        margin-left: 0;
    }
}
@media screen and (min-width: 768px) {
    .tab-right .team-members ul li {
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
    }
}
@media screen and (min-width: 768px) and (max-width: 768px) {
    .tab-right .team-members ul li {
        margin-top: 50px;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}
@media screen and (min-width: 768px) {
    .tab-right .team-members ul li .team-img {
        width: 124px;
        height: 124px;
        position: absolute;
        z-index: 10;
    }
}
@media screen and (min-width: 768px) and (max-width: 768px) {
    .tab-right .team-members ul li .team-img {
        position: relative;
        width: 100%;
    }
    .tab-right .team-members ul li .team-img img {
        margin: auto;
        position: absolute;
        width: 124px;
        height: 124px;
        top: 0;
        left: 0;
        bottom: 25px;
        right: 0;
    }
}
@media screen and (min-width: 768px) {
    .tab-right .team-members ul li .team-content {
        position: relative;
        z-index: 1;
    }
    .tab-right .team-members ul li .team-content h3 {
        color: #1743a8;
    }
}
@media screen and (min-width: 768px) and (min-width: 768px) {
    .tab-right .team-members ul li .team-content h3 {
        padding-left: 150px;
    }
}
@media screen and (min-width: 768px) {
    .tab-right .team-members ul li .team-content p {
        background: #f2f2f2;
        padding-bottom: 20px;
        padding-top: 20px;
    }
}
@media screen and (min-width: 768px) and (min-width: 768px) {
    .tab-right .team-members ul li .team-content p {
        padding-left: 150px;
        margin-top: 20px;
    }
}

@media screen and (min-width: 768px) {
    .tab-right {
        width: 66.10169%;
        float: right;
        margin-right: 0;
    }
}
.critique-container .courses-block h4 {
    text-transform: uppercase;
    color: #121212;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 700;
    line-height: 25px;
    opacity: 0.34;
    margin-bottom: 60px;
}
.critique-container .courses-block ul li {
    list-style: none !important;
    border-bottom: 1px solid #dedede !important;
    width: 250px;
    padding-bottom: 6%;
}
.critique-container .courses-block ul li a {
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    color: #121212;
    outline: none;
}
.critique-container .courses-block ul li a:hover {
    color: #121212 !important;
    padding-bottom: 9%;
    border-bottom: 3px solid #2d2d2f !important;
}
.critique-container .courses-block .active {
    opacity: 1;
    outline: none;
}
.critique-container .courses-block .active a {
    color: #121212;
    padding-bottom: 9%;
    outline: none;
    border-bottom: 3px solid #2d2d2f !important;
}

.tab-right {
    padding-left: 50px;
}
.tab-right h4 {
    text-transform: uppercase;
    color: #343339;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 700;
    line-height: 25px;
    margin-top: 100px;
}
.tab-right ol {
    padding-left: 10px;
    padding-top: 40px;
}
.tab-right ol li {
    font-family: Lato;
    font-size: 17px;
    font-weight: 500;
    line-height: 25px;
    color: #f25683;
}
.tab-right ol li span {
    color: #4e4e4e;
}
.tab-right .tab-courses {
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    padding: 30px 40px;
}
.tab-right .tab-courses .course-registration {
    color: #1743a8;
    font-size: 14px;
    font-weight: 700;
    line-height: 19px;
    padding: 15px 20px;
    background: transparent;
    border: 2px solid #1743a8;
}
.tab-right .tab-courses .course-registration:hover {
    background-color: #1743a8;
    color: #fff;
}
.tab-right .team-members .course-registration-second {
    color: #1743a8;
    font-size: 14px;
    font-weight: 700;
    line-height: 19px;
    padding: 15px 20px;
    background: transparent;
    margin-top: 15px;
    border: 2px solid #1743a8;
}
.tab-right .team-members .course-registration-second:hover {
    background-color: #1743a8;
    color: #fff;
}
.tab-right .team-members ul {
    padding-left: 10px;
    padding-top: 40px;
    margin: 0 0 1.5em 3em;
}
.tab-right .team-members ul li {
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}
.tab-right .team-members ul li .team-img {
    width: 124px;
    height: 124px;
    position: absolute;
    z-index: 10;
}
.tab-right .team-members ul li .team-content {
    position: relative;
    z-index: 1;
}
.tab-right .team-members ul li .team-content h3 {
    color: #1743a8;
}
@media (min-width: 768px) {
    .tab-right .team-members ul li .team-content h3 {
        padding-left: 150px;
    }
}
.tab-right .team-members ul li .team-content p {
    background: #f2f2f2;
}
@media (min-width: 768px) {
    .tab-right .team-members ul li .team-content p {
        padding-left: 150px;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-top: 20px;
    }
}

section.team .container {
    width: 1170px;
    margin: 0 auto;
    padding: 70px 0 15px;
}

section.team .member {
    width: 23%;
    margin: 0 1% 50px;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
}

section.team img {
    width: 100%;
    height: auto;
    margin-bottom: -6px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

section.team .info {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    opacity: 0;
    border-radius: 4px;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 25px;
    background-color: rgba(28, 56, 116, 0.9);
    transition: opacity 0.4s;
}

section.team .member:hover .info {
    opacity: 1;
    transition: opacity 0.4s;
}

section.team h3 {
    margin: 0;
    color: #f16868;
    font: 700 24px/25px "Open Sans";
}

section.team p {
    margin: 5px 0 0;
    color: #fff;
    font: 400 17px/20px "Open Sans";
}

@media (max-width: 1199px) {
    section.team .container {
        width: 970px;
    }
    section.team .member {
        margin-bottom: 40px;
    }
}

@media (max-width: 991px) {
    section.team .container {
        width: 750px;
    }
    section.team .member {
        width: 30%;
        margin: 0 1.5% 50px;
    }
}

@media (max-width: 767px) {
    section.team .container {
        width: 100%;
    }
}

@media (max-width: 700px) {
    section.team .container {
        width: 100%;
    }
    section.team .member {
        width: 46%;
        margin: 0 2% 50px;
    }
}

@media (max-width: 400px) {
    section.team .member {
        width: 90%;
        margin: 0 5% 50px;
    }
}

.faq .container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 1170px;
    margin: 0 auto;
    padding: 75px 0;
}

.faq aside {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 390px;
}

.faq .aside-container {
    width: 390px;
}

.faq ul {
    margin: 0;
}

.faq ul li {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 25px 0;
    opacity: 0.5;
}

.faq ul li:hover {
    opacity: 1;
}

.faq ul li.active {
    opacity: 1;
}

.faq ul li.active span {
    display: inline-block;
    width: 6px;
    height: 6px;
    margin-left: 33px;
    border-radius: 50%;
    background-color: #f16868;
}

.faq ul a {
    color: #121212;
    font: 700 16px/16px "Open Sans";
    opacity: 1;
}

.faq ul a:focus {
    color: #121212;
}

.faq .fix {
    position: fixed;
    top: 30px;
}

.faq section {
    margin-bottom: 30px;
}

.faq h2 {
    margin: 0 0 25px;
    padding-bottom: 15px;
    border-bottom: 1px solid #dedede;
    color: #1743a8;
    font: 700 24px/33px "Open Sans";
}

.faq p {
    color: #4e4e4e;
    font: 400 17px/25px "Open Sans";
}

@media (max-width: 1199px) {
    .faq .container {
        width: 970px;
    }
}

@media (max-width: 991px) {
    .faq .container {
        width: 750px;
    }
}

@media (max-width: 767px) {
    .faq .container {
        width: 100%;
    }
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
    /* Theme Footer (when set to scrolling) */
    display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
    display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
    border: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
    max-width: 100%;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
    margin-bottom: 1.5em;
    max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption .wp-caption-text {
    margin: 0.8075em 0;
}

.wp-caption-text {
    text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
    margin-bottom: 1.5em;
}

.gallery-item {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 100%;
}

.gallery-columns-2 .gallery-item {
    max-width: 50%;
}

.gallery-columns-3 .gallery-item {
    max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
    max-width: 25%;
}

.gallery-columns-5 .gallery-item {
    max-width: 20%;
}

.gallery-columns-6 .gallery-item {
    max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
    max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
    max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
    max-width: 11.11%;
}

.gallery-caption {
    display: block;
}